<!DOCTYPE html>
<head>
  <title>Curiosity Board</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <style>
    .chat-area {
      overflow: scroll;
    }
  </style>
</head>
<body>
  <h1>Curiosity Board</h1>
  <p class="js-name-area">Chatting as </p>
  <div class="js-chat-area chat-area"></div>
  <form action="/post" class="js-message-form">
    <input type="text" name="message" class="js-message u-full-width" placeholder="Enter to submit">
  </form>

  <script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
  <script>
    var name = "Human " + Math.floor(Math.random() * 1000).toString();
    $('.js-name-area').append(name);
    $('.js-chat-area').height($( window ).height() - 200)

    var pusher = new Pusher('18d0e1f96d237f08631c', {
      encrypted: true
    });

    var channel = pusher.subscribe('curiosity');
    channel.bind('new_message', function(data) {
      $('.js-chat-area').append(data.message + "<br>");
      $('.js-chat-area').scrollTop($('.js-chat-area')[0].scrollHeight);
    });

    $('.js-message-form').on('submit', function(e) {
      e.preventDefault();
      $.get('/post', { message: name + ": " + $('.js-message').val()}).done(function() {
        $('.js-message').val('');
      });
    });
  </script>
</body>
